<!-- Background video -->
<div class="video-background-holder">
    <div class="video-background-overlay"></div>
    <video playsinline="true" autoplay="true" muted="true" loop="true">
        <source src="../../../assets/mp4/car crash.mp4" type="video/mp4">
    </video>
    <div class="video-background-content container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-4">Odkryj statystyki wypadków drogowych w Polsce</h1>
                <p class="lead mb-0">Na świecie co 30 sekund ginie człowiek w wyniku wypadku drogowego</p>
            </div>
        </div>
    </div>
</div>
<!-- End -->


<!-- For demo purpose -->
<div class="container">
    <h1 class="display-4 text-center">
        W 2019 roku odnotowano
    </h1>
    <div class="row stats">
        <div class="col-md-4 text-center">
            <h1 id="counter" class="display-3">
                <div class="counter-value" data-count="30288">0</div>
            </h1>
            <h5>Wypadków</h5>
        </div>
        <div class="col-md-4 text-center">
            <h1 class="display-3">
                <div class="counter-value" data-count="2909">0</div>
                <h5>Zgonów</h5>
            </h1>
        </div>
        <div class="col-md-4 text-center">
            <h1 class="display-3">
                <div class="counter-value" data-count="35477">0</div>
                <h5>Rannych</h5>
            </h1>
        </div>
    </div>

    <p class=" text-center">
        W ostatnim dziesięcioleciu, najwięcej wypadków drogowych i ich ofiar odnotowano w 2011 roku. Od 2012 roku obserwowany jest spadek wypadków drogowych i ich ofiar, aż do roku 2016, kiedy nastąpił wzrost liczby wypadków i ich ofiar. W 2017 roku zanotowano
        znaczny spadek w porównaniu do roku poprzedniego. W 2018 oraz 2019 roku zmniejszyła się liczba wypadków i osób rannych, przy jednoczesnym wzroście liczby osób zabitych.
    </p>
</div>
