<!-- Demo navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
    <div class="container">
        <a href="#" class="navbar-brand"> <b>AccidentStats</b></a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="#" class="nav-link">Strona główna</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Raport 2019</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Trendy</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- End -->
<router-outlet></router-outlet>
<input type="text">